.total{
    display: flex;
    position: sticky;
    top: 100px;
    background: #f9f9f9;

}
.but{
    width: 100%;
    margin: 1%;
}
p{
    float: left;
}
.card-body{
    display: flex;
    margin: 1%;
    flex-wrap: wrap;
}
.card{
    margin: 1%;
}
.stop{
    position: sticky;
    top: 100px
    !important;
}
.sidebar{
    width: 80%;
    position: sticky;
    top: 130px !important;
}
