.total{
    display: flex;
    position: sticky;
    top: 100px;
    background: #f9f9f9;

}
.but{
    width: 100%;
    margin: 1%;
}
p{
    float: left;
}
.card-body{
    display: flex;
    margin: 1%;
    flex-wrap: wrap;
}
.card{
    margin: 1%;
}
.stop{
    position: sticky;
    top: 100px
    !important;
}
.sidebar{
    width: 80%;
    position: sticky;
    top: 130px !important;
}
.pictureCard{
    height: 230px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.dropdown{
    width: 100%;
    margin: 1%;
}
.addService{
    text-align: left;
}
.add{
    width: 100%;
    color: black;
    background: white;
    border: none;
}
