.zom:hover {
    -ms-transform: scale(2);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.25);
}
.zom {
    padding: 10px;
    transition: transform .5s;
    height: 200px;
    margin: 0 auto;
}
#zoom {
    padding: 10px;
    transition: transform .5s;
    height: 200px;
    margin: 0 auto;
}

#zoom:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.02);
}

#myBtn2 {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    height: 60px;
    background:#19ff24;
}
/* messenger */